{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h2 class="center">Task Master</h2>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no tasks. Create one below!</h4>
    {% else %}
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Task</th>
                <th scope="col">Added</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        {% for task in tasks %}
        <tr>
            <td>{{ task.content }}</td>
            <td>{{ task.date_created.date() }}</td>
            <td>
                <a href="/delete/{{task.id}}" type="button" class="btn btn-danger">Delete</a>
                <a href="/update/{{task.id}}" type="button" class="btn btn-success">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="content" id="content">
            </div>
            <div class="form-group">
                <input type="submit" value="Add Task" class="btn btn-success">
            </div>
        </form>
    </div>
</div>
{% endblock %}